
:root {
  --button-size: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  background-color: black;
}

.calculator {
}

.calculator__output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  word-break: break-all;
  word-wrap: break-word;
}

.calculator__previous,
.calculator__current {
  max-width: 14rem;
}

.calculator__previous {
  font-size: .75rem;
  color: #fff9;
}

.calculator__current {
  font-size: 2rem;
  color: #ffffff;
}

.calculator__controls,
.calculator__numbers,
.calculator__operators {
  display: grid;
  gap: 1px;
}

.calculator__controls {
  grid-template-columns: 1fr var(--button-size);
}

.calculator__numbers {
  grid-template-columns: repeat(3, 1fr);
}

.calculator__operators {
  grid-template-columns: 1fr;
}

.calculator__button {
  grid-column: span var(--span, 1);
  min-width: var(--button-size);
  min-height: var(--button-size);
  padding: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }

  &:active {
    opacity: .7;
  }
}
